#block-mytheme-main-menu ul li {
  display: inline;
  margin: 0 10px;
}

#block-mytheme-main-menu {
  background-color: lightblue;
  padding: 20px 0;
}

#block-mytheme-content {
  font-size: 12px;
}

main {
  width: 700px;
  margin: auto;
}
